.countryName { 
    text-align: center;
    color: darkblue;
    padding: 1px;
    font-family: "Dancing Script", serif;
    text-shadow: 4px 4px 4px gray;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    background: linear-gradient(to right, darkblue, #eee, darkblue);
}

.travelbriefingInformation {
    font-family: "Dancing Script", serif;
    font-size: 45px;
    font-weight: bold;
    color: black;
    border-bottom: 2px solid black;
}

.neighboringCountryDescription, .travelAdviseDescription, .drinkingWaterDescription, .visaRequirementsDescription, .timezoneDescription, .currencyDescription, .languageDescription, .vaccinationsHealthDescription, .telephoneDescription, .electricityDescription {
    font-family: "Dancing Script", serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: darkblue;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .neighboringCountryInfo, .travelAdviseInfo, .drinkingWaterInfo, .visaRequirementsInfo, .timezoneInfo, .currencyInfo, .languageInfo, .telephoneInfo, .electricityInfo {
} */

.neighbor, .adviseCA, .adviseUA, .water, .time, .curr, .lang, .callingCode, .ambulance, .fire, .police, .voltage, .frequency, .plug {
    font-family: "Old Standard TT", serif;
    font-size: 20px;
    color: black;
    margin-bottom: 5px;
    padding-left: 20px;
}

.urlCA, .urlUA {
    font-family: "Old Standard TT", serif;
    font-size: 16px;
    padding-left: 20px;
    color: blue;
}

.healthName {
    font-family: "Old Standard TT", serif;
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
    margin-bottom: 5px;
    padding-left: 20px;
}

.healthMessage {
    font-family: "Old Standard TT", serif;
    font-size: 16px;
    margin-bottom: 5px;
    padding-left: 20px;
    color: black;
}

/* google map */
#map {
    height: 500px;
}