body {
    background-color: black;
}

.wallabie {
    color: white !important;
    text-align: center;
}

.countryName {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.travelbriefingInformation {
    font-size: 44px;
    font-weight: bold;
    color: black;
    border-bottom: 2px solid black;
}

.travelAdviseDescription, .drinkingWaterDescription, .timezoneDescription, .currencyDescription {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.travelAdviseInfo, .drinkingWaterInfo, .timezoneInfo, .currencyInfo {
    color: black;
}