nav {
    background-color: #9d9e9e !important;
}

.head {
    text-align: center;
}

.ui-autocomplete {
    border-radius: 10px;
}

.body {
    font-family: 'Noto Sans', sans-serif !important;
}

html {
    background-color: #00D1B2 !important;

}
#title {
    font-family: 'Edu TAS Beginner', cursive !important;
}

.countryList {
    display: block;
}


#map {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center !important;
}