nav {
    background-color: #9d9e9e !important;
}

.head {
 text-align: center;
}

.ui-autocomplete {
    border-radius: 10px;
}

.body {
    font-family: 'Noto Sans', sans-serif !important;
}

#title {
    font-family: 'Edu TAS Beginner', cursive !important;
}