nav {
    background-color: #388186 !important;
    color: #FDF6F6 !important;
}

.head {
    text-align: center;
}

.ui-autocomplete {
    border-radius: 10px;
}

.body {
    font-family: 'Noto Sans', sans-serif !important;
    color: #FDF6F6 !important;
}
html {
    background-color: #388186 !important;

}
#title {
    font-family: 'Edu TAS Beginner', cursive !important;
    color: #2E2B2B !important;
}

.countryList {
    display: block;
}


#map {
    height: 500px;
}

.box {
    background-color: #FDF6F6;
}

.button {
    background-color: #2E2B2B ;
    color: #FDF6F6;
    border-color: #2E2B2B;
}

.black {
    color: #2E2B2B !important;
}